:root {
  --color-black-10: #bfbfbf;
  --color-black-20: #808080;
  --color-black-30: #292929;
  --color-black-40: black;

  --color-text-primary: var(--color-black-30);
  --color-text-secondary: var(--color-black-20);
  --color-link: #0085e5;
  --color-background: white;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px
}

body {
  box-sizing: border-box;
  padding: 0rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--color-text-primary);
  margin: 0 2.4rem;
  min-height: 100vh;
  background-color: var(--color-background);
}

.light {
  --color-link: #0085e5;
  --color-background: white;
  --color-text-primary: var(--color-black-30);
  --color-text-secondary: var(--color-black-20);
  transition: all 0.3s;
}

.dark {
  --color-link: #00ff94;
  --color-background: var(--color-black-30);
  --color-text-primary: white;
  --color-text-secondary: var(--color-black-20);
  transition: all 0.3s;
}
