.projects {
  &__main {
    margin: 6.4rem auto 0;

    &__title {
      text-align: center;
      margin: 3.2rem 0;
      white-space: nowrap;
      @media only screen and (max-width: 750px) {
        font-size: 4.8rem;
      }
    }
    &__section {
      margin: 6.4rem 0;
      &__title {
        margin-bottom: 2.4rem;
      }
      &__grid {
        column-count: 3;
        column-width: 250px;
        column-gap: 4rem;
        width: 100%;
        margin: auto;
      }
    }
  }
}
